<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/asset/common/bootstrap_5.3.2.min.css" />
    <script>
      document.title = decodeURI(location.pathname).slice(1, -5);
    </script>
  </head>

  <body>
    <div id="app">
      <h3>【陣列迴圈】</h3>
      <section>
        <ul>
          <li v-for="(p,index) of productsArray">
            {{index}} - {{p.name}} - {{p.price}} 元</li>
        </ul>
      </section>

      <hr />

      <h3>【物件迴圈】</h3>
      <section>
        <ul>
          <li v-for="(p,prop) of productsObj">
            {{prop}} - {{p.name}} - {{p.price}} 元</li>
        </ul>
      </section>

      <hr />

      <h3>【純數值迴圈】</h3>
      <section>
        <ul>
          <li v-for="i in 3">AAA</li>
        </ul>
      </section>

      <hr />

      <h3>【v-for 與 key】</h3>
      <section>
        <ul>
          <li v-for="(p, index) in productsArray" :key="p.id">
            {{p.name}} <input type="text" />
          </li>
        </ul>

        <button @click="addNewProductOnTop">新增商品到陣列首項</button>
      </section>

      <hr />

      <h3>【v-for 與 template】</h3>
      <section>
        <table class="table">
        <tbody>
          <template v-for="(p, index) in productsArray" :key="p.id">
            <tr>
              <th rowspan="2" class="text-center align-middle">{{p.id}}</th>
              <td colspan="2">{{p.name}}</td>
            </tr>
            <tr>
              <td>{{p.price}}</td>
            </tr>
          </template>
          <!-- <tr>
            <th rowspan="2" class="text-center align-middle">P01</th>
            <td colspan="2">手機</td>
          </tr>
          <tr>
            <td>20000元</td>
          </tr>

          <tr>
            <th rowspan="2" class="text-center align-middle">P02</th>
            <td colspan="2">筆電</td>
          </tr>
          <tr>
            <td>35000元</td>
          </tr> -->
        </tbody>
      </table>
      </section>
    </div>

    <!-- <template
      >template是HTML的標籤，瀏覽器在畫面載入時不會渲染template，但可被JS存取</template
      >
      <script>
        console.log(document.querySelector("template").innerHTML);
      </script> -->
    <!-- <template v-for="i in 1">vue使用完template後，會自動移除。</template> -->

    <script type="module">
      import { createApp } from "/asset/common/vue_3.4.15.esm-browser.min.js";

      createApp({
        data() {
          return {
            productsArray: [
              {
                id: "P01",
                name: "手機",
                price: 20000,
              },
              {
                id: "P02",
                name: "筆電",
                price: 35000,
              },
              {
                id: "P03",
                name: "電視",
                price: 15000,
              },
            ],
            productsObj: {
              phone: {
                id: "P01",
                name: "手機",
                price: 20000,
              },
              notebook: {
                id: "P02",
                name: "筆電",
                price: 35000,
              },
              television: {
                id: "P03",
                name: "電視",
                price: 15000,
              },
            },
          };
        },
        methods: {
          addNewProductOnTop() {
            const p = { id: "P04", name: "布鞋", price: "3000" };
            this.productsArray.unshift(p);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
